* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

 /* START NAV   */



 /* END NAV  */





 /* START HEADER  */



 /* END HEADER */




 

 /* START SERVICES  */




 /* END SERVICES */






 /* START PROJECTS */




/* END PROJECTS */








/* START CONTACT */



/* END CONTACT */










/* START FOOTER */



/* END FOOTER */