* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

 /* START NAV   */



 /* END NAV  */





 /* START HEADER  */



 /* END HEADER */




 

 /* START SERVICES  */




 /* END SERVICES */






 /* START PROJECTS */





.projects {
    background-color: rgb(49, 48, 48);
    padding: 20px 0px;
}
 
.projects .container .title {
    display: flex;
    justify-content: center;    
    align-items: center;  
    text-align: center;
    width: 100%;
    margin: 20px 0;
    position: relative;
  }
  .projects .container .title::after {
    content: "";     
    position: absolute;
    width:15px;
    height: 15px;
    background-color: #ffffff;    
    left: 61%;   
    transform: translateX(-50%);   
    
    border-radius: 50%;
  }
  .projects .container .title::before {
    content: "";     
    position: absolute;
    width:15px;
    height: 15px;
    background-color: #ffffff;    
    left:39%;   
    transform: translateX(-50%);   
    
    border-radius: 50%;
  }
  .projects .container .title h2 {
    display: inline-block;
    color: #fffefe;
    padding: 10px 20px;     
    border: 2px solid #fffefe;     
    font-size: 24px;   
    font-weight: bold;
  }



.projects .container .row {
   margin-bottom: 20px;
   
}

.projects .container .row .card {
    width: 350px;
    height: 350px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.projects .container .row .card.visible {
    opacity: 1;
    transform: translateY(0);
}
.projects .container .row .card:hover  {
transform: scale(1.04);
transition-duration: 0.3s;
}
.projects .container .row .col .card img {
    width: 100%;
}

.projects .container .row .card .footer-card {
    display: flex;
    justify-content: space-between;
}

.projects .container .row .card .card-body a {
text-decoration: none;
font-weight: bold;
color: aqua;
}
.projects .container .row .card .card-body a:hover {
    color: rgb(3, 128, 128);
    transition-duration: 0.3s;
}

/* START MEDIA  */


@media(max-width:425px) {
    .projects .container .row {
        row-gap: 20px;
    }
    .title::after {
    display: none;
    }
    .title::before {
    display: none;
  }
}

@media(max-width:768px) {
  

    .projects .container .title::after {
        content: "";     
        position: absolute;
        width:15px;
        height: 15px;
        background-color: #ffffff;    
        left: 64%;   
        transform: translateX(-50%);   
        
        border-radius: 50%;
      }
      .projects .container .title::before {
        content: "";     
        position: absolute;
        width:15px;
        height: 15px;
        background-color: #ffffff;    
        left:36%;   
        transform: translateX(-50%);   
        
        border-radius: 50%;
      }
  
    


  }

/* END PROJECTS */

/* START CONTACT */



/* END CONTACT */










/* START FOOTER */



/* END FOOTER */