* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

 /* START NAV   */
 .Nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: sticky;
    z-index: 1000px;
    top: 0;
}
.leftSide .logo {
    color: rgb(16, 198, 230);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.rightSide ul {
    
    list-style: none;
    display: flex;
    gap: 15px;
}
.rightSide ul li {
    display: inline-block;
    /* padding: 25px; */
    color: rgb(16, 198, 230);
    font-size: 20px;
    font-size: 14px;
}
.rightSide ul li a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 0 100px;
    border-radius: 3px;
}
.rightSide ul li a:hover {
        color: rgb(255, 0, 0);
}
a:hover {
    background: rgb(0, 255, 247);
    transition: .5s;
}
@media (max-width:952px) {
    label .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .rightSide ul li a {
        font-size: 16px;
    }
}



 /* END NAV  */





 /* START HEADER  */



 /* END HEADER */




 

 /* START SERVICES  */




 /* END SERVICES */






 /* START PROJECTS */




/* END PROJECTS */








/* START CONTACT */



/* END CONTACT */










/* START FOOTER */



/* END FOOTER */